<style>
    h6 {
        margin-top: 30%;
        color: #000000;
        font-size: 1.5em;
        font-family: 'Ysabeau', sans-serif;
        text-transform: capitalize;
    }
    p {
        color: #001994;
        font-weight: 700;
        font-size: 1em;
        font-family: 'Ysabeau', sans-serif;
        text-transform: capitalize;
    }
    button {
        font-weight: 800;
        font-family: 'Ysabeau', sans-serif;
        height: auto;
    }
</style>
    <div class="">
        <div class="row">
            <div class="col-5 ms-5 ">
                <img src="../../assets/note.jpg" width="80%" alt="img" class="p-5">
            </div>
            <div class="col-6">
                <h6 class="text-center ">The page you are looking for can't be found</h6>
                <p class="text-center">Please contact our term or back to home page</p>
                <button routerLink="" class="btn btn-outline-dark  mt-2 p-2 mb-5" style="margin-left: 40%;"><i class="fa-solid fa-backward"></i>&nbsp; Back To Home</button>
            </div>
        </div>
    </div>