
<nav class="main-navigation p-4" style="background-color:#1E1E1E;">  
        <div class="navbar-header animated fadeInUp ">
            <a class="navbar-brand" routerLink="" style="font-family: 'Sacramento', cursive; font-size: 50px;">InventoryStore</a>
        </div>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a href="#" class="nav-link" >Home</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">About Us</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Blog</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Works</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Contact</a>
        </li>
    </ul>

</nav>